opg-sirius-lpa-frontend
cypress/screenshots
cypress/videos
logs/
node_modules/
pacts/
web/static
.idea
log/

.structurizr
docs/architecture/dsl/**/workspace.json
.cache
.gocache
.trivy-cache
test-results
