{{ template "page" . }}

{{ define "main" }}
    <div class="govuk-grid-column-one-half">
        {{ template "DocumentList" .  }}
    </div>
    <div class="govuk-grid-column-one-half">
        {{ template "DocumentList" .  }}
    </div>
{{ end }}
