{{ define "page" }}
  <div class="action-panel__form">

    {{ template "error-summary" .Error }}

    {{ if eq .CaseType "epa" }}
      <a class="govuk-back-link"
         href=""
         hx-get="{{ prefix (printf "/create-epa?id=%d&caseId=%d#accordion-create-epa-heading-3" .DonorId .CaseId) }}"
         hx-target=".action-panel__content"
         hx-swap="innerHTML show:#accordion-create-epa-heading-3:top">Back</a>
    {{ else }}
      <a class="govuk-back-link"
         href=""
         hx-get="{{ prefix (printf "/create-lpa?id=%d&caseId=%d#accordion-create-lpa-heading-4" .DonorId .CaseId) }}"
         hx-target=".action-panel__content"
         hx-swap="innerHTML show:#accordion-create-lpa-heading-4:top">Back</a>
    {{ end }}

    <h1 class="govuk-heading-m">{{ .Title }}</h1>

    <form class="form"
          method="POST"
          hx-post="{{ prefix (printf "/create-correspondent?id=%d&caseId=%d&caseType=%s" .DonorId .CaseId .CaseType) }}"
          hx-target=".action-panel__content"
          hx-swap="innerHTML">

      {{ template "createCorrespondent" . }}

      <div class="govuk-button-group govuk-!-padding-top-5">
        <button class="govuk-button" data-module="govuk-button" type="submit">Save</button>
          {{ if eq .CaseType "epa" }}
            <a class="govuk-link govuk-link--no-visited-state"
               href=""
               hx-get="{{ prefix (printf "/create-epa?id=%d&caseId=%d#accordion-create-epa-heading-3" .DonorId .CaseId) }}"
               hx-target=".action-panel__content"
               hx-swap="innerHTML show:#accordion-create-epa-heading-3:top">Cancel</a>
          {{ else }}
            <a class="govuk-link govuk-link--no-visited-state"
               href=""
               hx-get="{{ prefix (printf "/create-lpa?id=%d&caseId=%d#accordion-create-lpa-heading-4" .DonorId .CaseId) }}"
               hx-target=".action-panel__content"
               hx-swap="innerHTML show:#accordion-create-lpa-heading-4:top">Cancel</a>
          {{ end }}
      </div>
    </form>
  </div>
{{ end }}