{{ define "page" }}
  <div class="action-panel__form">

    {{ if .HtmxRedirect }}
        <span class="govuk-!-display-none"
              hx-get="{{ prefix .HtmxRedirect }}"
              hx-target=".action-panel__content"
              hx-swap="{{ .HtmxSwap }}"
              hx-trigger="load"
        ></span>
    {{ end }}

    {{ template "error-summary" .Error }}

    {{ if eq .CaseType "epa" }}
      <a class="govuk-back-link"
         href=""
         hx-get="{{ prefix (printf "/create-epa?id=%d&caseId=%d#accordion-create-epa-heading-3" .DonorId .CaseId) }}"
         hx-target=".action-panel__content"
         hx-swap="innerHTML show:#accordion-create-epa-heading-3:top">Back</a>
    {{ else }}
      <a class="govuk-back-link"
         href=""
         hx-get="{{ prefix (printf "/create-lpa?id=%d&caseId=%d#accordion-create-lpa-heading-1" .DonorId .CaseId) }}"
         hx-target=".action-panel__content"
         hx-swap="innerHTML show:#accordion-create-lpa-heading-1:top">Back</a>
    {{ end }}

    <h1 class="govuk-heading-m">{{ .Title }}</h1>

    {{ if and (eq .CaseType "lpa") (not .IsEditing) }}
      <div class="govuk-button-group govuk-button-group--row">
        <a class="govuk-link govuk-link--no-visited-state"
           href=""
           hx-get="{{ prefix (printf "/create-trust-corporation?id=%d&caseId=%d" .DonorId .CaseId) }}"
           hx-target=".action-panel__content"
           hx-swap="innerHTML scroll:.action-panel__content:top">Add a trust corporation as an attorney</a>
      </div>
    {{ end }}

    <form class="form"
          method="POST"
          hx-post={{ if .IsEditing }}"{{ prefix (printf "/create-attorney?id=%d&caseId=%d&caseType=%s&attorneyId=%d" .DonorId .CaseId .CaseType .Attorney.ID) }}"{{ else }}"{{ prefix (printf "/create-attorney?id=%d&caseId=%d&caseType=%s" .DonorId .CaseId .CaseType) }}"{{ end }}
          hx-target=".action-panel__content"
          hx-swap="innerHTML">

      {{ template "createAttorney" . }}

      <div class="govuk-button-group govuk-!-padding-top-5">
          <button class="govuk-button" data-module="govuk-button" type="submit">Save</button>
          {{ if not .IsEditing }}
            <input class="govuk-button" data-module="govuk-button" type="submit" name="add-another" value="Save and add another attorney" />
          {{ end }}
          {{ if ne .NextAttorneyId 0 }}
            <input class="govuk-button" data-module="govuk-button" type="submit" name="next-attorney" value="Save and edit next attorney" />
          {{ end }}

          {{ if eq .CaseType "epa" }}
            <a class="govuk-link govuk-link--no-visited-state"
               href=""
               hx-get="{{ prefix (printf "/create-epa?id=%d&caseId=%d#accordion-create-epa-heading-3" .DonorId .CaseId) }}"
               hx-target=".action-panel__content"
               hx-swap="innerHTML show:#accordion-create-epa-heading-3:top">Cancel</a>
          {{ else }}
            <a class="govuk-link govuk-link--no-visited-state"
               href=""
               hx-get="{{ prefix (printf "/create-lpa?id=%d&caseId=%d#accordion-create-lpa-heading-1" .DonorId .CaseId) }}"
               hx-target=".action-panel__content"
               hx-swap="innerHTML show:#accordion-create-lpa-heading-1:top">Cancel</a>
          {{ end }}
      </div>
    </form>
  </div>
{{ end }}