{{ template "page" . }}

{{ define "title" }}LPA details{{ end }}

{{ define "main" }}
    <div class="govuk-grid-row" id="lpa-details-data">
        <div class="govuk-grid-column-full">

            {{ template "mlpa-header" (caseTabs .CaseSummary "lpa-details") }}

            <h1 class="govuk-heading-l govuk-!-margin-bottom-5">LPA details</h1>

            <p class="govuk-body-s">
                {{ .LpaStoreData }}
            </p>
        </div>
    </div>
{{ end }}
