.createdocument {

    .form-field-associated-data {

        .firstname,
        .surname {
            margin-right: 0.25em;
            text-transform: capitalize;
        }

        .id {
            display: none;
        }

        .type {
            clear: left;
            display: block;
            float: left;
            font-weight: $font-weight-sans-bold;
            text-transform: capitalize;
            max-width: 115px;
        }

        .personType {
            display: none;
        }

        .address {
            display: block;
            float: right;
            padding: 0 $spacer;
            li {
                float: none;
                span:after {
                    content: ', '
                }
            }
            li:last-child {
                span:after {
                    content: normal
                }
            }
            .addressLines:after {
                content: normal;
            }
            .type {
                display: none;
            }
        }
        .APIaddress {
            display: none;
        }

        .fieldCollection {
            margin-top: $spacer/2;
            clear: both;
            float: left;
            width: 100%;
        }

        button {
            clear: both;
        }

        .description {
            width: 16.375%;
        }

        input[type=checkbox] {
            float: none !important;
            position: relative;
            left: 326px;
            top: 14px;
        }
    }

    .addSubfields {
        margin: $spacer 0;
        float: right;
    }

    .templateId {
        margin-bottom: 0;
    }

    .page-populate {
        @include button-group;
    }

    .preview {
        margin-top: $spacer/2;
        margin-bottom: $spacer*1.5;
        button {
            margin-left: 0;
        }
    }

    .selectedDocument {
        b {
            @include aw-columns(1.5);
        }
    }
}

.action-widget-content div.multi-page-form .extension {
    margin-top: -0.5em !important;
}

.action-widget-content .templates {
    .typeahead {
        position: absolute;
        z-index: 1;
        width: 62%;
        left: 24%;
        height:100%;
    }

    i {
        z-index: 2;
    }

    > .dropdown-menu {
        width: 67%;
    }
}

