.action-widget .tab-pane .action-widget-mi {

    .mi-report {
        background: $color-element-bg;
        margin: 2em 0 2em -12px;
        padding: 1em 0;
        text-align: center;
        h3 {
            font-size: 1em;
        }
        p {
            @include pem(38);
            margin-bottom: 0;
        }
    }

    .status {
        > legend {
            height: 4.5em;
        }
    }

}
