.field-collection {
    .title {
        clear: both;
        text-align: center;
        margin-top: 0.5em;
        overflow: auto;
        margin-left: -11px;
        margin-right: 0;
        font-size: 1em;
        font-weight: $font-weight-sans-normal;
        b {
            float: left;
            padding-right: 0.25em;
            text-transform: capitalize;
            min-width: 10em;
            text-align: left;
            font-weight: $font-weight-sans-normal;
        }
        .openClose {
            padding: 4px 12px 4px 11px;
            float: left;
        }
        .opg-icon {
            padding: 1px 12px;
            width: 1em;
            float: right;
            font-size: 1.5em;
            font-weight: normal;
        }

        .opg-icon {
            @include opg-icon;
        }
        &.open {
            @include gradient-blue;
            a, b {
                color: $color-sirius-white;;
            }
        }
    }
    .actor {
        clear: both;
        background: #fff;
        border-top: 3px solid $color-sirius-blue;
        margin-left: -10px;
        margin-right: -10px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-top: 10px;
    }
}