// --------------------------------------------
// Styling
// --------------------------------------------
.pagination {

    @include pem(14, 16);

    &.transition {
        @include form-el-disabled;
        .barrier {
            z-index: $z-pagination-barrier;
        }
    }

    // Buttons
    a,
    span {
        @include button-styling;
        min-width: 20px;
        font-size: $govuk-font-size;
        margin: 0 $spacer/4;
        padding: .25em $spacer/2;
        text-decoration: none;
    }

    span,
    span:hover {
        @include gradient-grey-inv-dark;
        cursor: default;
    }

}

