// --------------------------------------------------
// Variables and mixins
// --------------------------------------------------

@mixin result-header {
    padding-top: 0;
    font-weight: $font-weight-sans-normal;
    strong {
        font-weight: $font-weight-sans-normal;
    }
}

.result-header {
    @include result-header;
}

// --------------------------------------------------
// Results dropdown
// --------------------------------------------------

.search-form-results-section {
    position: fixed;
    height: 0;
    display: block;
    @include pem(14, $base-size);
    z-index: $z-search-results-dropdown;
}

.search-form-dropdown {
    background: $color-element-bg;
    border: 2px solid $color-sirius-light-blue;
    position: fixed;
    height: 0px;
    right: $page-header-search-input-right;
    top: $page-header-bar-height + $page-header-bar-secondary-height - $page-header-bar-secondary-padding - 2px;
    width: $page-header-search-input-width;
    border-radius: $form-el-border-radius;
    transition: all 0.5s ease-in 0s;

    ul {
        height: 95%;
        overflow: hidden;
        position: absolute;
        margin-left: 10px;
        margin-top: 0;
    }

    li {
        float: left;
        width: 100%;

        div {

            width: 100%;

            h3 {
                margin-top: 1em;
                @include result-header;
            }

            dl {
                height: 100%;
                overflow: hidden;
            }

            dt {
                margin-right: 0.5em;
                font-weight: bold;
                clear: left;
                float: left;
            }

            dd {
                float: left;
                max-width: 80%;
            }
        }
    }

    .case-detail {
        display: block;
        margin-right: $spacer * 2;
        span {
            font-weight: bold;
        }
        span:nth-child(2)  {
            margin-left: $spacer;
        }
    }

    .case-detail:hover {
        background-color: $color-sirius-light-blue;
        color: $color-sirius-white;
    }

    .show-all {
        height: 29px;
        width: 95%;
        bottom: 0;
        position: absolute;
        display: table;
        border-top: 1px solid $color-sirius-mid-grey;
        margin-left: $spacer;
        background: $color-element-bg;

        span {
            position: absolute;
            margin-top: $spacer;
        }

        a {
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            width: 100%;
            height: 100%;
            padding-top: 10px;
        }
    }

    .no-results {
        height: 181px;
        padding-top: 1.5em;
        .search-query {
            color: $color-sirius-blue;
        }
        ul {
            margin-left: 1em;
            li {
                list-style: square outside none;
            }
        }
    }
}

.noTransition {
    transition: none !important;
}
