@mixin task-list-filter-label {
    display: flex;
    flex-direction: column;
    font-size: $govuk-font-size;
    > div {
        > button {
            font-size: $govuk-font-size;
        }
    }
}

.task-list-filters {
    display: flex;
    align-items: flex-end;
    padding: 0 10px;

    > a,
    form,
    div {
        padding: 0 20px 0 0;

        > label {
            @include task-list-filter-label;
        }
    }
}

.task-list-filter-label {
    @include task-list-filter-label;
}

.tasks-list-filter-select {
    margin-bottom: 0;
    font-size: $govuk-font-size;
    text-transform: capitalize;
}

.allocated-cases-filter {
    max-width: 230px;
}
