/*
 * OPG Core
 * Login Journey
 *
 * Author:      Transform
 * Author URI:  http://www.transformuk.com/
 *
 * Description:
 *
 */
.application-wrapper,
.welcome {
    height: 100%;
    width: 100%;
    display: table;
    min-height: 400px;
}

.app-login {
    h1 {
        margin-bottom: 1.5em;
        font-weight: $font-weight-sans-semibold;
        text-transform: uppercase;
        margin-top: 0;
    }
    img {
        margin-top: -5%;
        width: 250px;
        margin-bottom: 30px;
    }
    @include gradient-blue;
    @include pem(14, 16);
    display: table-cell;
    min-height: 450px;
    vertical-align: middle;
    text-align: center;
    .button,
    input {
        @include pem(14, 14);
    }
    .opg-form-text-input {
        width: 250px;
    }
    label span {
        &:after {
            content: ':';
        }
    }
    p {
        line-height: 1.5em;
    }
    // different width for form creation
    &.activation {
        img {
            margin-bottom: 45px;
        }
        form,
        header,
        p {
            text-align: left;
            width: 410px;
            margin: 0 auto;
        }
        p {
            margin-bottom: 1em;
        }
        label span {
            width: 140px;
            display: inline-block;
        }
        input[type="password"],
        input[type="text"] {
            width: 230px;
        }
        ol {
            padding-left: 0;
            margin-top: 1.5em;
        }
        // error msgs
        ul li {
            margin-bottom: 1em;
            width: 230px;
        }
        .app-login-form-text {
            margin-right: 0;
        }
        .app-login-form-submit {
            text-align: right;
            width: 100%;
            padding: 0;
            margin: 0;
            input {
                min-width: 100px;
            }
        }
    }
    a {
        color: $color-sirius-white;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
            color: $color-sirius-white;
        }
    }
}

.app-login-form-text input,
.opg-form-text-input {
    border: 1px solid $color-form-border;
    border-radius: 4px;
    padding: 0.4em 0.8em;
}

#cancelbutton {
    margin-right: 14px;
}

.app-login-form-text,
.app-login-form-submit {
    display: inline-block;
    margin-right: 25px;
    vertical-align: top;
    span {
        margin-right: 15px;
    }
    input {
        margin-bottom: 1em;
        border-radius: 2px;
        border: 1px solid $color-sirius-light-grey;
    }
    // Zend generated markup
    ul {
        text-align: left;
        li {
            background: #fff;
            border: 2px solid $color-error;
            color: $color-error;
            display: inline-block;
            float: right;
            padding: 0.4em 10px;
            width: 250px;
        }
    }
}

.app-login-form-text input {
    width: 250px;
}

.app-auth-error {
    background: #fff;
    border: 2px solid $color-error;
    border-radius: 5px;
    color: $color-error;
    display: inline-block;
    margin-bottom: 15px;
    padding: 0.4em 1em;
    width: 50%;
    p {
        margin: 0;
    }
    a {
        color: $color-error;

        &:hover {
            color: $color-error;
        }
    }
    .opg-icon {
        margin-right: 1em;
    }

    .opg-icon {
        @include opg-icon;
    }
}

.app-login-form-submit input {
    min-width: 100px;
    padding: 0.33em 1em;
}

@media all and (max-height: 500px) {
    .app-login {
        img {
            margin-top: 0;
        }
    }
}
