// Permissions visualisation
$methods-border: 1px solid blue;
$methods-background: yellow;
$methods-font-color: black;

$tag-width: 120px;
$tag-padding: .5em 10px;
$tag-border-radius: 4px;
$tag-margin: 0 25px .5em 0;

.permissions {

    // Layout
    margin-top: 65px;

    .endpoints,
    h3 {
        list-style: none;
        float: left;
        clear: left;
        width: 200px;
    }

    .endpoints,
    .endpoint {
        width: auto;
    }

    .endpoints {
        margin: $tag-margin;
    }

    .methods {
        float: left;
        width: 150px;
    }

    .restrictions {
        float: left;
        width: 150px;
        > div {
            clear: left;
        }
    }

    // Colouring
    .tag {
        width: $tag-width;
        border-radius: $tag-border-radius;
        padding: $tag-padding;
        margin: $tag-margin;
    }

    .methods {
        li {
            border: $methods-border;
            background: $methods-background;
            color: $methods-font-color;
        }
    }
}

@mixin permissions-cell {
    background: rgba(242, 13, 13, 0.3); // LESS: fade(desaturate(red, 10%), 30%)
    &.present {
        background: rgba(6, 122, 6, 0.3); // LESS: fade(desaturate(green, 10%), 30%)
    }
}

.permissions-cell {
    @include permissions-cell;
}

@mixin permissions-cell-hover {
    background: rgba(red, 60%/100.0%);
    &.present {
        background: rgba(green, 60%/100.0%);
    }
}

.permissions-cell-hover {
    @include permissions-cell-hover;
}

@mixin permissions-header {
    background: rgba(128, 128, 128, 0.1); // LESS: fade(desaturate(grey, 20%), 10%)
    font-weight: bold;
}

.permissions-header {
    @include permissions-header;
}

.permissions h2 {
    text-align: center;
}

.permissions-overview {

    width: 100%;
    border-collapse: collapse;
    text-align: center;

    td {
        padding: $tag-padding;
    }

    thead td {
        @include permissions-header;

        &.endpoint {
            text-align: left;
        }
    }

    tbody td {

        border: 1px solid #d3d3d3;

        // Cell type specific layout
        &.endpoint {
            text-align: left;
            width: 10%;
        }

        &.get, &.post, &.put {
            width: 5%;
            @include permissions-cell;
        }

        &.data, &.field {
            width: 32.5%;
        }
    }

    tbody tr:hover td {

        background: rgba(128, 128, 128, 0.1); // LESS: fade(grey, 10%)

        &.get, &.post, &.put {
            @include permissions-cell-hover;
        }
    }

}
