
// Mixins bnd variables
// $timeline-link-color moved to core/variables.scss
$timeline-loading-opacity: .2;

// Container layout
.timeline-container {
    .timeline {
        clear: both;
        min-height: 300px;
        padding-top: 2em;
        padding-bottom: $spacer*3;
        background: linear-gradient(to right, $color-app-bg 0%, $color-app-bg 49.9%, $color-sirius-dark-grey 49.9%, $color-sirius-dark-grey 50.1%, $color-app-bg 50.1%, $color-app-bg 100%);
        overflow: hidden;

        // Loading messages
        &.loading {
            background: none;
            .timeline-event {
                opacity: $timeline-loading-opacity;
            }
        }

        .loading.loading-msg {
            background-color: $color-app-bg;
            height: 51px;
            margin-bottom: -51px;
            background-size: 47px;
            clear: both;
            position: relative;
            top: -21px !important;
            z-index: $z-timeline-loading;
        }
    }

    .timeline-facets {
        @include pem(12);
        background: $color-sirius-blue;
        color: $color-sirius-white;
        margin-bottom: $gutter;
        padding: $spacer;
        clear: both;
        border: 1px solid $color-sirius-dark-grey;
        border-radius: $form-el-border-radius;
        position: relative;
        top: $gutter;

        label {
            margin-right: $spacer;
            line-height: 2em;
            display: inline-block;
        }

        button {
            float: right;
            margin-left: $spacer;
        }
    }
}
