{{ define "ActionPanelWrapper" }}
    <details class="action-panel" open>
        <summary
            class="action-panel__tab"
            id="actions-tab"
            aria-controls="actions-content">
            Actions<i class="action-panel__tab-icon"></i>
        </summary>
        <div id="actions-content" class="action-panel__content">
            {{ template "actionPanel" . }}
        </div>
    </details>
{{ end }}