{{ define "case-details" }}
    <p class="govuk-body"><strong>{{ if eq .Case.SubType "property-and-affairs" }}PA{{ else if eq .Case.SubType "personal-welfare" }}PW{{ end }} {{ .Case.UID }}</strong></p>
{{ end }}
