{{ define "CaseLabel" }}
    <strong class="app-govuk-tag
        {{ if eq .CaseType "EPA" }}
            {{ caseLabel .CaseType }}">{{ ToUpper .CaseType }}
        {{ else }}
            {{ caseLabel .SubType }}">{{ ToUpper .SubType }}
        {{ end }}
    </strong><span class="govuk-!-padding-right-1 govuk-!-padding-left-1" >{{ .UID }}</span>
{{ end }}