{{ define "deleteFeeReduction" }}
    {{$feeReductionTypeLabel := translateRefData .FeeReductionTypes .Payment.FeeReductionType}}

    <h1 class="govuk-heading-l">Delete {{$feeReductionTypeLabel | ToLower}}</h1>

    <p class="govuk-body govuk-!-padding-bottom-6">Are you sure you want to delete the <strong>{{$feeReductionTypeLabel | ToLower }}</strong>?</p>
{{ end }}