{{ define "deletePayment" }}
    <h1 class="govuk-heading-l">Delete payment</h1>

    <p class="govuk-body govuk-!-padding-bottom-6">Are you sure you want to delete the payment of £{{ fee .Payment.Amount }}</p>
{{ end }}