{{ define "history-date-updated-from-to" -}}
    {{ .Readable }} updated from {{ parseAndFormatDate .Old "2006-01-02" "02/01/2006" }} to {{ parseAndFormatDate .New "2006-01-02" "02/01/2006" }}
{{- end }}