{{ define "input-date" }}
  <div class="govuk-form-group {{ if .error }}govuk-form-group--error{{ end }}">
    <label class="govuk-label" for="f-{{ .name }}">{{ .label }}</label>
    {{ template "errors" .error }}
    <input class="govuk-input govuk-!-width-one-third {{ if .error }}govuk-input--error{{ end }}" type="date" id="f-{{ .name }}" name="{{ .name }}" value="{{ .value }}" {{ if .max }}max="{{ .max }}"{{ end }} {{ if .min }}min="{{ .min }}"{{ end }} />
  </div>
{{ end }}
