{{ define "mlpa-case-details" }}
    <p class="govuk-body govuk-!-margin-bottom-1">
        <strong class="app-!-colour-text-{{ subtypeColour .CaseSummary.DigitalLpa.SiriusData.Subtype }}">
            {{ subtypeShortFormat .CaseSummary.DigitalLpa.SiriusData.Subtype }}
        </strong>
        {{ .CaseSummary.DigitalLpa.UID }}
    </p>
{{ end }}
