{{ define "partial-event-outgoing-document" }}
    <a class="govuk-link" href="/lpa#/donor/{{ .Context.DonorID }}/documents?docUuid={{ .SourceDocument.UUID }}" target="_top">{{ .SourceDocument.FriendlyDescription }}</a>
{{ end }}»