{{ define "partial-event-outgoing-document" }}
    {{ if eq .SourceDocument.MimeType "application/pdf" }}
        <a class="govuk-link" href="/lpa/frontend/view-document/{{ .SourceDocument.UUID }}/{{ .Context.DonorID }}?case={{ .OwningCase.ID }}" target="_top">
            {{ .SourceDocument.FriendlyDescription }}
        </a>
    {{ else }}
        <a class="govuk-link" href="{{ sirius (printf "/lpa-api/v1/documents/%s/download" .SourceDocument.UUID) }}" download>
            {{ .SourceDocument.FriendlyDescription }}
        </a>
    {{ end }}
{{ end }}