{{ define "partial-event-note" }}
    <p class="govuk-body"><strong>{{.Entity.type}}</strong></p>
    <p>{{.Entity.name}} - {{.Entity.description}}</p>
        {{ if .Entity.document }}
            <a class="govuk-link"
               href="/lpa#/donor/{{ .Context.DonorID }}/documents?docUuid={{ .Entity.document.uuid }}" target="_top"
            >
                {{ .Entity.document.friendlyDescription }}
            </a>
        {{ end}}
{{ end }}