{{ define "header-button" }}
  <a id="header-button-{{ replace (ToLower .Label) " " "-" }}"
     class="sirius-header__button"
     href="{{ .URL }}"
     aria-label="{{ .Label }}"
     data-label="{{ .Label }}"
  >
    <svg aria-hidden="true" focusable="false" class="sirius-header__button-icon">
      <use href="{{ prefixSVG .IconName }}" />
    </svg>
    <span class="govuk-visually-hidden">{{ .Label }}</span>
  </a>
{{ end }}