{{ template "page" . }}

{{ define "partial-content" }}
  <div class="action-panel__form">
    <p class="govuk-body govuk-!-margin-bottom-1"><strong>{{ .Entity }}</strong></p>

    {{ template "error-summary" .Error }}

    {{ $url := prefix (printf "/action-panel?donorId=%d&entity=%s%s" .DonorID .EntityType .CaseUIDs) }}

    {{ if .Success }}
      <meta http-equiv="Refresh" content="0" />
      {{ template "success-banner" "You have successfully created a relationship." }}
    {{ end }}

    <h1 class="govuk-heading-m">Create Relationship</h1>

    <form class="form" method="POST"
          hx-post="{{ prefix (printf "/create-relationship?id=%d&entity=%s" .DonorID .EntityType) }}"
          hx-target=".action-panel__content"
          hx-swap="innerHTML">
      <input type="hidden" name="xsrfToken" value="{{ .XSRFToken }}"/>

      {{ template "form-content" . }}

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="submit">Save and exit</button>
        <a class="govuk-link govuk-link--no-visited-state"
           href=""
           hx-get="{{ $url }}"
           hx-target=".action-panel__content"
           hx-swap="innerHTML">Cancel</a>
      </div>
    </form>
  </div>
{{ end }}

{{ define "title" }}{{ if .Error.Any }}Error: {{ end }}Create Relationship{{ end }}

{{ define "main" }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"><strong>{{ .Entity }}</strong></p>

      {{ template "error-summary" .Error }}

      {{ if .Success }}
        <meta data-app-reload="page" />
        {{ template "success-banner" "You have successfully created a relationship." }}
      {{ end }}

      <h1 class="govuk-heading-l app-!-embedded-hide">Create Relationship</h1>

      <form class="form" method="POST">
        <input type="hidden" name="xsrfToken" value="{{ .XSRFToken }}"/>

        {{ template "form-content" . }}

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" type="submit">Save and exit</button>
          <a data-app-iframe-cancel class="govuk-link govuk-link--no-visited-state" href="#">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{{ end }}

{{ define "form-content" }}
  <div class="govuk-form-group {{ if .Error.Field.search }}govuk-form-group--error{{ end }}">
    <label class="govuk-label" for="f-search">Search</label>
    {{ template "errors" .Error.Field.search }}
    <select class="govuk-select {{ if .Error.Field.search }}govuk-select--error{{ end }}" id="f-search" name="search" data-select-person>
      {{ if .SearchUID }}
        <option value="{{ .SearchUID }}:{{ .SearchName }}" selected>{{ .SearchName }}</option>
      {{ else }}
        <option value="" selected></option>
      {{ end }}
    </select>
  </div>
  {{ template "input" (field "reason" "Relationship" .Reason .Error.Field.reason) }}
{{ end }}
