{{ define "page" }}
  <div class="govuk-grid-row govuk-!-margin-0 app-case-info">
    <h2 class="govuk-heading-s govuk-!-margin-3">
      Case information
    </h2>
    <div class="govuk-grid-column-one-half">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Case owner</dt>
          <dd class="govuk-summary-list__value">
            {{ if .Case.Assignee }}
              {{ if .Case.Assignee.DisplayName }}{{ .Case.Assignee.DisplayName }}{{ else }}{{ .Case.Assignee.Summary }}{{ end }}{{ if .Case.Assignee.PhoneNumber }} ({{ .Case.Assignee.PhoneNumber }}){{ end }}
            {{ else }}
              Unallocated
            {{ end }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Case ID</dt>
          <dd class="govuk-summary-list__value">
            {{ if .Case.UID }}{{ .Case.UID }}{{ end }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Case status</dt>
          <dd class="govuk-summary-list__value">
            {{ if .Case.Status }}{{ .Case.Status.ReadableString }}{{ end }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Receipt date</dt>
          <dd class="govuk-summary-list__value">
            {{ if .Case.ReceiptDate }}{{ formatDate .Case.ReceiptDate }}{{ end }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Filing date</dt>
          <dd class="govuk-summary-list__value">
            {{ if .Case.FilingDate }}{{ formatDate .Case.FilingDate }}{{ end }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Reg due date / Reg date</dt>
          <dd class="govuk-summary-list__value">
            {{ if .Case.RegistrationDueDate }}
              {{ formatDate .Case.RegistrationDueDate }}
            {{ else if .Case.RegistrationDate }}
              {{ formatDate .Case.RegistrationDate }}
            {{ end }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Dispatch date</dt>
          <dd class="govuk-summary-list__value">
            {{ if .Case.DispatchDate }}{{ formatDate .Case.DispatchDate }}{{ end }}
          </dd>
        </div>
      </dl>
    </div>
    <div class="govuk-grid-column-one-half">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date donor signed</dt>
          <dd class="govuk-summary-list__value">
            {{ if .Case.LpaDonorSignatureDate }}{{ formatDate .Case.LpaDonorSignatureDate }}{{ end }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Applicant</dt>
          <dd class="govuk-summary-list__value">
            {{ range $index, $applicant := .Case.Applicants }}{{ if $index }}, {{ end }}{{ $applicant.Firstname }} {{ $applicant.Surname }}{{ end }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">How attorneys are appointed</dt>
          <dd class="govuk-summary-list__value">
            {{ if compareBoolPointers .Case.CaseAttorneySingular true }}Singular{{ end }}
            {{ if compareBoolPointers .Case.CaseAttorneyJointly true }}Jointly{{ end }}
            {{ if compareBoolPointers .Case.CaseAttorneyJointlyAndSeverally true }}Jointly and severally{{ end }}
            {{ if compareBoolPointers .Case.CaseAttorneyJointlyAndJointlyAndSeverally true }}Jointly for some decisions, and jointly and severally for others{{ end }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Instructions and preferences</dt>
          <dd class="govuk-summary-list__value">

          </dd>
        </div>
        {{ $isHWCase := or (eq (ToLower .Case.SubType) "hw") (eq (ToLower .Case.SubType) "personal-welfare") }}
        {{ if $isHWCase }}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">LST choice</dt>
            <dd class="govuk-summary-list__value">
              {{ if .Case.LifeSustainingTreatment }}{{ .Case.LifeSustainingTreatment }}{{ end }}
            </dd>
          </div>
        {{ end }}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Batch ID</dt>
          <dd class="govuk-summary-list__value">
            {{ if .Case.BatchID }}{{ .Case.BatchID}}{{ end }}
          </dd>
        </div>
      </dl>
    </div>
  </div>
{{ end }}
