{{ template "page" . }}
{{ define "main" }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full" id="document-panel">
            {{ template "DocumentViewer" . }}
        </div>
    </div>
{{ end }}

{{ define "partial-content" }}
    {{ template "DocumentViewer" . }}
{{ end }}