// ------------------------------------------
// Color definitions
// ------------------------------------------

//  1. Gov.uk palette
$color-govuk-purple: #2e358b;
$color-govuk-mauve: #6f72af;
$color-govuk-fuschia: #912b88;
$color-govuk-pink: #d53880;
$color-govuk-baby_pink: #f499be;
$color-govuk-red: #b10e1e;
$color-govuk-mellow-red: #df3034;
$color-govuk-orange: #f47738;
$color-govuk-brown: #b58840;
$color-govuk-yellow: #ffbf47;
$color-govuk-grass-green: #85994b;
$color-govuk-green: #006435;
$color-govuk-turquoise: #28a197;
$color-govuk-light-blue: #2b8cc4;

//  2. Sirius Common Palette
$color-sirius-white: #ffffff;
$color-sirius-black: #0b0c0c;
$color-sirius-blue: #00326e;
$color-sirius-light-blue: #4370a8;
$color-sirius-light-blue-20: #d9e2ee;
$color-sirius-dark-grey: #5e6665;
$color-sirius-mid-grey: #ababab;
$color-sirius-light-grey: #cfd1d2;

$color-error: #ff0000;
$color-error-fade: #ffe6e6;

$color-bg-blue: #dae3ec;
$color-zebra-blue: #e6f5fd;
$color-dark-bg-grey: #363639;
