// Gradients
@mixin gradient-blue {
    background: linear-gradient(to bottom, $color-sirius-light-blue 0%, $color-sirius-blue 100%);
    color: #fff;
}

@mixin gradient-blue-inv {
    background: linear-gradient(to top, $color-sirius-light-blue 0%, $color-sirius-blue 100%);
    color: #fff;
}

@mixin gradient-rag-high {
    background: linear-gradient(to top, $color-rag-high-shade 0%, $color-rag-high 100%);
}

@mixin gradient-rag-medium {
    background: linear-gradient(to left, $color-rag-medium-shade 0%, $color-rag-medium 100%);
}

@mixin gradient-rag-low {
    background: linear-gradient(to left, $color-rag-low-shade 0%, $color-rag-low 100%);
}

@mixin gradient-rag-high-vertical {
    background: linear-gradient(to top, $color-rag-high-shade 0%, $color-rag-high 100%);
}

@mixin gradient-rag-medium-vertical {
    background: linear-gradient(to top, $color-rag-medium-shade 0%, $color-rag-medium 100%);
}

@mixin gradient-rag-low-vertical {
    background: linear-gradient(to top, $color-rag-low-shade 0%, $color-rag-low 100%);
}

@mixin gradient-grey {
    background: linear-gradient(to top, $color-sirius-black 0%, $color-app-bg 100%);
}

@mixin gradient-grey-left-to-right {
    background: linear-gradient(to right, $color-sirius-black 0%, $color-sirius-dark-grey 100%);
}

@mixin gradient-grey-inv {
    background: $color-sirius-black;
}

@mixin gradient-grey-inv-dark {
    background: $color-sirius-black;
}

// ----------------------------------------------------
// Application colors
// ----------------------------------------------------

// Fonts
$color-text-on-dark: $color-sirius-black;
$color-font: $color-sirius-white;

// Application wide
$color-element-bg: #29292E;
$color-app-bg: $color-dark-bg-grey;
$color-search-bg: $color-dark-bg-grey;
$color-drop-shadow: $color-sirius-black;

// Header
$color-header: $color-sirius-white;

// Buttons
$color-button-icon: $color-sirius-white;
$color-button-inner-border: $color-element-bg;

// Error messages
$error-text-overview-color: #F05A28;
$error-text-inline-color: #F05A28;
$error-text-overview-background: transparent;
$error-text-inline-background: transparent;
$error-text-overview-icon: "/lpa/build/img/error-warning-icon.png";
$error-text-inline-icon: "/lpa/build/img/error-warning-icon.png";

// Tables
$color-table-header: $color-text-on-dark;
$color-table-cell: $color-sirius-light-grey;
$color-table-cell-link: $color-sirius-light-grey;
$color-table-zebra: $color-sirius-mid-grey;
$color-zebra-odd: $color-app-bg;
$color-zebra-even: #29292e;

//  Case colors
$color-case-hw: $color-govuk-grass-green;
$color-case-pfa: $color-govuk-turquoise;
$color-case-dep: $color-govuk-mauve;
$color-case-epa: $color-govuk-brown;

//  Rag Rating
$color-rag-high: #D63234;
$color-rag-high-shade: #9C2525;
$color-rag-medium: $color-govuk-orange;
$color-rag-medium-shade: #9C4525;
$color-rag-low: #009933;
$color-rag-low-shade: $color-govuk-green;

//  New Timeline Event
$color-new-event-border: #FBAF97;
$color-new-event-glow: #FBA389;
$color-new-event-bg: #FFEED5;

// Document viewer
$color-doc-viewer-bg: #404040;

//  Form colours
$color-req-field-invalid-bg: rgba($color-govuk-mellow-red, 0.2); // LESS: fadeout($color-govuk-mellow-red, 80%)
$color-req-field-invalid-border: $color-govuk-mellow-red;
$color-req-field-text: $color-govuk-mellow-red;
$color-form-border: #6f777b;

$color-selected-element-bg: #BEC0C2;

$color-sirius-light-grey: #6C7473;
$color-sirius-dark-grey: #cfd1d2;


@mixin action-widget-title-bar {
    background: #000;
}

.action-widget-title-bar {
    @include action-widget-title-bar;
}

// Loading background icon
$loading-background-icon: url(/lpa/build/img/loading-icon-dark.svg);

// Modal window
$color-modal-inner-border: $color-sirius-white;

// date picker
@mixin date-picker-today {
    background: $color-sirius-light-blue;
    a {
        color: $color-sirius-white;
    }
}

.date-picker-today {
    @include date-picker-today;
}

// ---------------------------------------------
// Element specific colors
// Colors that don't follow the theme and have specific overrides
// ------------------------------------------------------

@mixin element-border {
    border: 2px solid $color-sirius-black;
    box-shadow: inset 0px 0px 3px 2px $color-sirius-black;
    -moz-box-shadow: inset 0px 0px 3px 2px $color-sirius-black;
    -webkit-box-shadow: inset 0px 0px 3px 2px $color-sirius-black;
}

.element-border {
    @include element-border;
}

$color-selected-element-bg: #002440;
@mixin selected-element-border {
    border: 2px solid $color-sirius-white;
    box-shadow: 0px 0px 2px 1px $color-sirius-white;
    -moz-box-shadow: 0px 0px 2px 1px $color-sirius-white;
    -webkit-box-shadow: 0px 0px 2px 1px $color-sirius-white;
}

.selected-element-border {
    @include selected-element-border;
}

$case-tile-people-icon: $color-sirius-white;
$case-tile-people-status-icon: $color-sirius-white;

// Forms
$color-button-border: $color-form-border;

@mixin color-tab-unselected {
    background: #6f777b;
    color: #BEC0C2;
}

.color-tab-unselected {
    @include color-tab-unselected;
}

$color-case-tile-icon: #6E767A;
$color-action-widget-tab-icon: $color-sirius-white;
$color-action-widget-bg: $color-element-bg;
$color-action-widget-nav-icon: $color-sirius-white;
$color-link: $color-sirius-white;
$color-link-aw: $color-sirius-white;

.action-widget {
    border: 2px solid $color-sirius-black !important;
    box-shadow: inset 0px 0px 3px 2px $color-sirius-black !important;
    -moz-box-shadow: inset 0px 0px 3px 2px $color-sirius-black !important;
    -webkit-box-shadow: inset 0px 0px 3px 2px $color-sirius-black !important;
}

.timeline-entry-event {
    h2 {
        background: linear-gradient(to bottom, $color-sirius-light-blue 0%, $color-sirius-blue 100%) !important;
        color: $color-sirius-white !important;
    }
}

.case-tile-info,
.case-tile-people {
    a {
        color: $color-sirius-white !important;
    }
}

.link-record .search-uid input,
.form-field textarea,
.form-field input[type='text'],
.form-field input[type='password'] {
    background: $color-element-bg;
    color: $color-font;
}

.action-widget-expand-collapse {
    // Uses the light theme gradient
    background: linear-gradient(to right, $color-sirius-white 0%, $color-sirius-mid-grey 100%) !important;
    .title {
        color: $color-sirius-blue;
    }
}

.createacase .actors {
    border-top-color: $color-sirius-mid-grey !important;
}

// Search dropdown
.sirius-search {
    background-color: $color-sirius-black !important;
    box-shadow: 0 5px 5px $color-sirius-black !important;
}

.sirius-search__item {
    background-color: $color-dark-bg-grey !important;
    color: $color-font !important;
}

.govuk-summary-list {
    color: $color-font !important;
}

.govuk-link:link,
.govuk-link--no-visited-state:visited {
    color: $color-govuk-light-blue !important;
}

.govuk-link:visited {
    color: $color-govuk-baby_pink !important;
}

.govuk-list {
    color: $color-font !important;
}

.close-warning-modal {
    background-color:  $color-app-bg;
}
