
.layout-home,
.layout-person,
.layout-document {
    .search-form {
        border-color: $color-sirius-black;
    }
}

.dropdown {
    .dropdown-menu {
        background-color: $color-app-bg;
        border-color: $color-sirius-black;
        li a {
            color: $color-sirius-black;

            &:hover {
                background-color: $color-sirius-black;
                color: $color-app-bg;
            }
        }
    }
}

.pagination {
    a {
        background-color: $color-sirius-black;
        color: $color-sirius-white;
        &:hover {
            background-color: $color-sirius-white;
            color: $color-sirius-black;
        }
    }
    span {
        background-color: $color-sirius-white;
        color: $color-sirius-black;
    }
}

.layout-home .search-form input {
    width: 474px;
    line-height: 1.4em;
    margin-top: 0px;
    height: 32px;
    border: none;
}

.layout-person .search-form,
.layout-document .search-form {
    width: 415px;
}
.layout-person .search-form input,
.layout-document .search-form input {
    width: 388px;
    line-height: 1.4em;
    margin-top: 0px;
    height: 32px;
    border: none;
}