$color-app-bg: #cc99ff;
$color-element-bg: $color-app-bg;

$color-sirius-white: #000;
$color-sirius-black: #fff;
$color-sirius-blue: #ffff99;
$color-req-field-invalid-border: #ffff99;

@font-face {
  font-family: 'OpenDyslexic';
  src: url('fonts/OpenDyslexic3-Regular.ttf') format('truetype');
}

::webkit-placeholder,
::moz-placeholder {
    color: $color-font;
}

:placeholder-shown {
    color: $color-font;
}

html {
    font-family: 'OpenDyslexic', 'Trebuchet MS', sans-serif !important;
    font-size: 18px;
}

button {
    font-family: 'OpenDyslexic', 'Trebuchet MS', sans-serif;
    &:hover {
        color: $color-sirius-light-grey;
    }
}

.page-header h1,
.user-work-overview .nav-tabs li.active a,
.action-widget h2,
.panel-tabs > ul {
    color: $color-sirius-white;
}

.person-panel {
    margin-top: 10px;
    .person-panel-details td {
        overflow: hidden;
    }
    .case-tile-container {
        .card-wrapper {
            width: 200px;

            .card-face {
                width: 200px;
            }
            .case-tile-type {
                dt,
                dd {
                    color: $color-sirius-black !important;
                }
            }
            .case-tile-due {
                dt {
                    padding-left: 5px;
                }
            }
            .case-tile-tasks {
                margin-top: -5px;
                dd {
                    span {
                        line-height: 1.2em;
                    }
                }
            }
            .case-tile-status {
                dd {
                    color: $color-sirius-white;
                    padding: 0;
                }
            }
        }
        &.detailed {
            .case-tile-info-container {
                width: 192px;
            }
        }
    }
}

.panel-tabs .dropdown {
    background-color: $color-app-bg;
    border-bottom: 2px solid $color-sirius-black;
    color: $color-font;
    .panel-calendar .default {
        color: $color-app-bg;
    }
}

.layout-search {
    background-color: $color-app-bg;
}

.layout-home,
.layout-person,
.layout-document {
    .search-toggle-container {
        color: #000;

        .toggle-label,
        .toggle-option {
            color: #000;
        }
    }
    .search-form {
        border-color: $color-sirius-white;
        height: 38px;
    }
    .search-form-dropdown {
        top: 340px;
    }
}

.dropdown {
    .dropdown-menu {
        background-color: $color-app-bg;
        border-color: $color-sirius-white;
        li a {
            background-color: $color-app-bg;
            color: $color-sirius-white;

            &:hover {
                background-color: $color-sirius-white;
                color: $color-app-bg;
            }
        }
    }
}

.search-results-container .search-results .search-result:nth-child(even) {
    background-color: lighten($color-app-bg, 10%);
}

.document-list table tr:nth-child(2n) {
    background-color: lighten($color-app-bg, 10%);
}

.action-widget {
    .action-widget-content {
        .page-title a {
            color: $color-sirius-black;
        }
    }
    .action-widget-back {
        background-image: url('/lpa/build/img/aw-back-icon-dark.svg');
        border-right-color: #000;
    }
    .action-widget-expand-collapse {
        .icon {
            top: -73px;
        }
        .title {
            margin-top: -36px;
            margin-right: 3px;
        }
    }
    .nav-tabs > li a {
        font-size: 2.2em;
    }
}

.timeline-event {
    header {
        time {
            color: $color-sirius-white;
        }
        h2 {
            background-color: darken($color-app-bg, 10%);
            color: $color-sirius-white;
            text-shadow: none;
        }
    }
}
.help {
    .help-expand-collapse {
        line-height: 1.2em;
    }
}
