// The application uses one font-family throughout, with different
// typefaces ranging from light to extrabold.
//
// Typeface switching is performed through different font-weights.
// By specifying a font-weight, the typeface is switched
// e.g. font-weight: $font-weight-sans-extrabold; // uses the extrabold typeface

$font-weight-sans-light: 100;
$font-weight-sans-light-normal: 300;
$font-weight-sans-normal: 400;
$font-weight-sans-semibold: 600;
$font-weight-sans-bold: 700;
$font-weight-sans-extrabold: 800;

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: $font-weight-sans-light;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/OpenSans-Light.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: $font-weight-sans-light-normal;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/OpenSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $font-weight-sans-normal;
  src: local('Open Sans'), local('OpenSans'), url(fonts/OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $font-weight-sans-semibold;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/OpenSans-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $font-weight-sans-bold;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/OpenSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: $font-weight-sans-extrabold;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(fonts/OpenSans-Extrabold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: $font-weight-sans-light-normal;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(fonts/OpenSansLight-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: $font-weight-sans-normal;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(fonts/OpenSans-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: $font-weight-sans-semibold;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(fonts/OpenSans-SemiboldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: $font-weight-sans-bold;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(fonts/OpenSans-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: $font-weight-sans-extrabold;
  src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url(fonts/OpenSans-ExtraboldItalic.woff) format('woff');
}

@font-face {
    font-family: 'opg-icons';
    src: url('fonts/opg-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}