.lpa-table-wrapper {
    padding: $spacer;
}

.lpa-table {
    padding: 10px;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;

    &__task-list {
        > .lpa-table__body {
            > .lpa-table__row {
                > .lpa-table__header {
                    &:nth-child(1) {
                        width: 5%;
                    }
                    &:nth-child(2) {
                        width: 4%;
                    }
                    &:nth-child(3) {
                        width: 15%;
                    }
                    &:nth-child(4) {
                        width: 5%;
                    }
                    &:nth-child(5) {
                        width: 12%;
                    }
                    &:nth-child(6) {
                        width: 26%;
                    }
                    &:last-child {
                        width: 4%;
                    }
                }
            }
        }
    }

    &__case-list {
        > .lpa-table__body {
            > .lpa-table__row {
                > .lpa-table__header {
                    &:nth-child(1) {
                        width: 5%;
                    }
                    &:nth-child(2) {
                        width: 5%;
                    }
                    &:nth-child(3) {
                        width: 15%;
                    }
                    &:nth-child(4) {
                        width: 7%;
                    }
                    &:nth-child(6) {
                        width: 12%;
                    }
                    &:nth-child(7) {
                        width: 6%;
                    }
                    &:nth-child(11) {
                        width: 10%;
                    }
                    &:last-child {
                        width: 4%;
                    }
                }
            }
        }
    }

    > .lpa-table__caption {
        font-weight: 700;
        font-size: $govuk-font-size;
        display: table-caption;
        text-align: left;
    }

    > .lpa-table__body {
        > .lpa-table__row {
            > .lpa-table__header {
                &:focus {
                    outline: 3px solid $govuk-colour-yellow;
                    position: relative;
                    z-index: 2;
                }
                font-size: $govuk-font-size;
                padding: $spacer $spacer-small $spacer 0;
                color: $govuk-colour-blue;
                border-bottom: 1px solid $govuk-colour-mid-grey;
                text-align: left;
                vertical-align: top;
                font-weight: 700;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            > .lpa-table__cell {
                &:first-child {
                    padding-left: $spacer-small;
                }
                &:last-child {
                    padding-right: $spacer-small;
                }
                &:focus {
                    outline: 3px solid $govuk-colour-yellow;
                    position: relative;
                    z-index: 2;
                }
                font-size: $govuk-font-size;
                padding: 5px 10px 5px 0;
                border-bottom: 1px solid $govuk-colour-mid-grey;
                text-align: left;
                vertical-align: middle;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                > .govuk-link {
                    font-size: $govuk-font-size;
                }
            }
        }
    }

    [aria-sort] span,
    [aria-sort] span:hover {
        background-color: transparent;
        border-width: 0;
        -webkit-box-shadow: 0 0 0 0;
        -moz-box-shadow: 0 0 0 0;
        box-shadow: 0 0 0 0;
        color: #005ea5;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        padding: 0 10px 0 0;
        position: relative;
        text-align: inherit;
        font-size: 1em;
        margin: 0;
    }

    [aria-sort] span:focus {
        background-color: $govuk-colour-yellow;
        color: $govuk-colour-black;
        box-shadow: 0 -2px $govuk-colour-yellow, 0 4px $govuk-colour-black;
        outline: none;
    }

    [aria-sort]:first-child span {
        right: auto;
    }

    [aria-sort] span:before {
        content: ' \25bc';
        position: absolute;
        right: -3px;
        top: 13px;
        font-size: 0.5em;
    }

    [aria-sort] span:after {
        content: ' \25b2';
        position: absolute;
        right: -3px;
        top: 2px;
        font-size: 0.5em;
    }

    [aria-sort='ascending'] span:before,
    [aria-sort='descending'] span:before {
        content: none;
    }

    [aria-sort='ascending'] span:after {
        content: ' \25b2';
        font-size: 0.8em;
        position: absolute;
        right: -8px;
        top: 2px;
    }

    [aria-sort='descending'] span:after {
        content: ' \25bc';
        font-size: 0.8em;
        position: absolute;
        right: -8px;
        top: 2px;
    }
}
