/*
 * OPG Core
 * Reset Styles
 *
 * Author:      Transform
 * Author URI:  http://www.transformuk.com/
 *
 * Description:
 *
 */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, dl, dd {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

select {
    margin-bottom: 1em;
}

menu {
    margin: 0;
    padding: 0;
}
