/* 
 * OPG Core
 * Typography Styles
 *
 * Author:      Transform
 * Author URI:  http://www.transformuk.com/
 *
 * Description: 
 * 
 *
 * Contents
 *
 * 1. Base
 * 2. Headers
 * 3. Block elements
 * 4. Inline elements
 *
 */

//  1. Base 
html {
    font-family: "Open Sans", sans-serif;
}

//  2. Headers 
h1 {
    @include pem(21);
    font-weight: $font-weight-sans-normal;
}

h2 {
    @include pem(20);
    margin-bottom: 1em;
    text-transform: uppercase;
}

h3 {
    margin-bottom: 0.2em;
}

//  3. Block elements 
p {
    margin-bottom: 1em;
}

//  4. Inline elements
a {
    color: $color-link;
    cursor: pointer;
}

//  screen reader only
@mixin accessible-text {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

.accessible-text {
    @include accessible-text;
}

//  4. Icons 
@mixin opg-icon {
    font-family: "opg-icons";
    font-feature-settings: "liga" 1;
    -webkit-font-feature-settings: "liga";

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.opg-icon {
    @include opg-icon;
}

