// -------------------------------------------------
// Mixins and variables
// -------------------------------------------------

// Tile
$case-tile-vertical-spacing: $spacer/2;
$case-tile-spacing: $spacer;
$case-tile-padding: 3px;

// Tile labels
$case-tile-label-border-radius: 3px;


@mixin case-tile-overview-header {
    @include pem(12, 12);
    border: 1px solid $color-sirius-light-blue;
    border-top: 0;
    border-radius: $case-tile-label-border-radius;
    font-weight: $font-weight-sans-normal;
    margin: $case-tile-padding $case-tile-padding $case-tile-vertical-spacing $case-tile-padding;
    text-align: center;
    strong {
        @include gradient-blue; // default header colour
        display: block;
        font-weight: $font-weight-sans-normal;
        padding: 0 0.2em;
        text-transform: uppercase;
    }
}

@mixin case-tile-styled-label {
    dt {
        display: none;
    }
    dd {
        @include pem(10, 12);
        background: $color-sirius-light-grey;
        border-radius: $case-tile-label-border-radius;
        color: $color-font;
        font-weight: $font-weight-sans-normal;
        margin: 0 $case-tile-padding $case-tile-vertical-spacing;
        text-align: center;
    }
}

@mixin case-tile-centred-text-label {
    float: none;
    clear: both;
    font-weight: $font-weight-sans-normal;
    text-align: center;
    padding: 0 $case-tile-padding $case-tile-padding;
    dt,dd {
        display: inline;
    }
}

@mixin case-tile-porthole-info {
    @include round-button;
    margin: 0 auto $case-tile-vertical-spacing;
    text-align: center;
    dt {
        @include pem(10,12);
        margin-top: 6px;
    }
    dd {
        @include pem(36, 12);
        font-weight: $font-weight-sans-normal;
        line-height: 0.7;
    }
}

@mixin case-tile-case-label {
    @include case-tile-styled-label;
    margin-bottom: $case-tile-vertical-spacing;

    dd {
        @include pem(12);
        font-weight: $font-weight-sans-bold;
        padding: 0.1em;
        text-transform: uppercase;
    }

    &.hw {
        dd {
            background-color: $color-case-hw;
            color: $color-font;
        }
    }

    &.pfa {
        dd {
            background-color: $color-case-pfa;
            color: $color-font;
        }
    }
}

// -------------------------------------------------
// Case tile default styling
// -------------------------------------------------

@mixin case-tile-default {
    @include element-border;
    @include clearfix;
    @include pem(12, $base-size);
    border-radius: $form-el-border-radius;
    display: block;
    text-transform: uppercase;
    &.selected {
        background-color: $color-selected-element-bg;
        @include selected-element-border;
        box-shadow: none;
    }
}

.case-tile-default {
    @include case-tile-default;
}

// -------------------------------------------------
// Basic tile styling
// -------------------------------------------------

.case-tile-group.basic {
    clear: both;
    margin-top: $case-tile-spacing;
}

.case-tile-container.basic {
    @include case-tile-default;
    @include cols(3.5, $case-tile-spacing);
    float: left;
    margin-right: $case-tile-spacing;
    margin-bottom: $case-tile-spacing;
    &:last-child {
        margin-right: 0;
    }
    a {
        display: block;
        min-height: 19.5em;
    }
    h2 {
        @include case-tile-overview-header;
    }

    .case-tile-status {
        @include case-tile-styled-label;
        dd {
            padding: 0.4em 0 0.5em;
            white-space: normal;
        }
    }

    .case-tile-due,
    .case-tile-user {
        @include case-tile-centred-text-label;
        dd {
            margin-left: $case-tile-spacing / 4;
        }
    }

    .case-tile-due {
        border-top: 1px solid $color-sirius-light-grey;
        padding-top: 3px;
        width: 100%;
        dt {
            padding-left: $case-tile-padding;
        }
        dd {
            padding-right: 0 $case-tile-padding;
        }
    }

    .case-tile-tasks {
        @include case-tile-porthole-info;
    }

    // Rag rating colours
    &.ragHigh {
        h2 {
            border-color: $color-rag-high;
            strong {
                @include gradient-rag-high-vertical;
            }
        }
    }
    &.ragMedium {
        h2 {
            border-color: $color-rag-medium;
            strong {
                @include gradient-rag-medium-vertical;
            }
        }
    }
    &.ragLow {
        h2 {
            border-color: $color-rag-low;
            strong {
                @include gradient-rag-low-vertical;
            }
        }
    }
}

// --------------------------------------------------
// Detailed case tile
// --------------------------------------------------
.case-tile-container.detailed {

    display: inline;
    width: 140px;

    .card-wrapper {
        display: inline-block;
        margin-left: $case-tile-vertical-spacing;
        .card-face {
            @include case-tile-default;
            cursor: default;
            font-size: 1em;
            border: none;
            border-radius: 8px;
        }
    }

    &:hover .card-wrapper,
    &.selected .card-wrapper,
    &.show-item .card-wrapper {
        .card-face {
            opacity: 1;
            border: none;
            background: $color-element-bg;
        }
    }

    &.selected .card-wrapper .card-face.case {
        @include gradient-blue;
    }

    .card-wrapper .card-face.back {
        position: fixed;
        right: $spacer;
        z-index: 9;
        height: 132px;
        @include element-border;
    }

    .controls,
    .case-tile-info-container {
        display: block;
        clear: both;
        text-transform: none;
        position: absolute;
        bottom: 4px;
        left: 4px;
        height: 42px;
        width: 138px;
    }

    .controls {
        right: 2px;
        left: auto;
        h3 {
            width: 48% !important;
        }
    }

    .case-tile-people-title-selected,
    .case-tile-info-title-selected {
        opacity: 1;
        a {
            color: $color-sirius-white;
        }
    }

    .card-face {
        .info,
        .person {
            width: 100%;
            text-transform: none;
        }
    }

    &.case-tile-timeline-selected {
        @include gradient-blue;
    }

    .case-tile-summary {
        @include clearfix;
        @include element-border;
        background: $color-element-bg;
        border-radius: $form-el-border-radius $form-el-border-radius 0 0;
        display: block;
        margin-bottom: 2px;
        padding: $case-tile-padding;
    }

    .case-tile-type {
        @include case-tile-case-label;
    }

    .case-tile-tasks {

        float: right;
        width: 46%;
        text-align: center;

        dt {
            @include pem(10);
            color: $color-sirius-dark-grey;
            font-weight: $font-weight-sans-bold;
            margin: 0 0 2px;
            text-transform: uppercase;
        }

        dd {
            @include round-button-medium;
            margin: 0 auto;
        }

    }

    .case-tile-status {
        @include case-tile-styled-label;
        margin-bottom: 0;
        width: 50%;
        float: left;
        text-transform: uppercase;
        dd {
            @include pem(9);
            font-weight: $font-weight-sans-bold;
            padding: 0.6em 0.1em;
            margin-bottom: 2px; // special margin to fit reg due date correctly
            color: $color-font;
            white-space: normal;
        }
    }

    .case-tile-due {
        float: left;
        width: 50%;
        text-transform: uppercase;
        text-align: center;
        dt {
            @include pem(9);
        }
        dd {
            @include pem(11);
            font-weight: bold;
            text-align: center;
        }
    }

    // Further information buttons
    .case-tile-info-title,
    .case-tile-people-title {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: 1px solid transparent;
        border-width: 0px 0px 0px 1px;
        display: inline-block;
        margin: 0;
        width: 50%;
        position: absolute;
        bottom: 0;
        a {
            background: $color-element-bg;
            @include element-border;
            border-radius: 0 0 $form-el-border-radius 0;
            color: $color-case-tile-icon;
            display: block;
            padding: $case-tile-padding;
            text-align: center;
        }
    }

    .case-tile-info-title {
        border-width: 0;
        left: 0;
        a {
            border-radius: 0 0 0 $form-el-border-radius;
        }
    }

    .case-tile-people-title-selected,
    .case-tile-info-title-selected {
        a {
            @include gradient-blue;
            border-color: transparent;
            border-bottom-color: $color-sirius-blue;
            border-top-color: $color-sirius-light-blue;
            border-radius: 0;
            color: $color-sirius-white;
        }
    }


}

.case-info-expanded-case-tile {
    overflow: scroll;
    height: 100%;
}

// -------------------------------------------------
// Tile component styling
// -------------------------------------------------

.case-tile-styled-label {
    @include case-tile-styled-label;
}

.case-tile-centred-text-label {
    @include case-tile-centred-text-label;
}

.case-tile-home-container {
    float: left;
    height: 13.2em;
    margin: 0 $column-padding $vertical-spacing 0;
}

.case-tile-overview-header {
    @include case-tile-overview-header;
}

// Rounded button styling on static information
.case-tile-porthole-info {
    @include case-tile-porthole-info;
}

// Case information
.case-tile-case-label {
    @include case-tile-case-label;
}

// Deputyship basic styling
.case-tile-container.basic .order {

    .case-type {
        display: block;
    }

    .case-tile-caserec {
        text-align: center;
        dl {
            margin-bottom: $spacer/2;
        }
        dt, dd {
            display: inline;
            font-size: .8em;
        }
    }

    .case-tile-deputies {
        float: left;
        width: 50%;
        font-size: 1.25em;
        margin-top: .33em;
        dd {
            margin-top: .2em;
            font-size: 1em;
        }
    }

    .case-tile-tasks {
        font-size: .8em;
        height: 33px;
        width: 33px;
        padding: 5px;
        float: right;
        margin-right: 12.5%;

        dt {
            margin-top: 2px;
        }
        dl {
            height: 30px;
            width: 29px;
            padding: 2px;
        }
        dd {
            font-size: 2em;
        }
    }

}

// Deputyship detailed styling
.case-tile-container.detailed .order {

    .case-tile-type {
        dd {
            min-width: 125px;
            span {
                display: block;
            }
        }
    }

    .case-tile-status {
        clear: left;
        dd {
            padding: .25em 0 !important;
            margin-bottom: $spacer/2 !important;
        }
        &.orderStatus dd {
            background: $color-case-dep !important;
        }
    }

}

// Shared deputyship styling
.case-tile-container .order {

    .case-tile-deputies {

        width: 50%;
        float: right;
        white-space: normal;
        text-align: center;

        dt {
            @include pem(9);
        }

        dd {
            @include pem(10);
        }

    }

}

.card-wrapper.epa {
    .case-tile-type.pfa {
        dd {
            background-color: $color-case-epa !important;
        }
    }
}

.case-message {
    clear: both;
}
