// ---------------------------------------------
// Variables and mixins
// ---------------------------------------------
$page-header-padding: 5px 0;
$page-header-button-height: 24px;
// $page-header-complete-height moved to core/variables.scss

$page-header-search-input-right: 32px;
$page-header-search-input-width: $layout-aside-width + 4px - 32px - 5px + $gutter + 2px;
$page-header-search-label-right: $page-header-search-input-width + $page-header-search-input-right + $gutter;
$page-header-search-input-padding: 3px 0 0;

@mixin page-header-btn {
    @include cols(1.5);
    display: block;
    height: $page-header-button-height;
}

.page-header-btn {
    @include page-header-btn;
}

// ---------------------------------------------
// Application
// ---------------------------------------------

.app-header-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: $z-page-header;
    display: flex;
    @include gradient-grey;
    padding: $page-header-padding;
    @include pem(12, 16);

}
.app-nav-layouts {
    > .app-theme-switcher {
        display: flex;

        > li {
            > .opg-icon {
                border-radius: initial;
                border: initial;
                min-width: initial;
            }
        }

        @include form-el-border;
        border-radius: $form-el-border-radius;
        margin-right: $spacer / 2;
        overflow: hidden;

        .app-theme-switcher-light,
        .app-theme-switcher-accessible-light {
            background: $color-sirius-white;
            color: $color-sirius-blue;
            padding: 5px 6px;
        }
        .app-theme-switcher-dark,
        .app-theme-switcher-accessible-dark {
            background: $color-sirius-black;
            color: $color-sirius-white;
            padding: 5px 8px;
        }
        .app-theme-switcher-accessible-pink {
            background: #c9f;
            color: $color-sirius-black;
            padding: 5px 8px;
        }
        .app-theme-switcher-accessible-yellow {
            background: #ff9;
            color: $color-sirius-black;
            padding: 5px 8px;
        }
        .app-theme-switcher-accessible-blue {
            background: $color-sirius-blue;
            color: $color-sirius-white;
            padding: 5px 8px;
        }
        .app-theme-switcher-accessible-red {
            background: $color-accessible-red;
            color: $color-sirius-white;
            padding: 5px 8px;
        }
    }
}


// Main application header containing home button,
// colour-switcher, signed in user and logout button
.app-header {

    overflow: hidden;
    flex-grow: 1;
    display: flex;

    > .app-name {
        @include page-header-btn;
        margin-left: 5px;

        img {
            border: 0;
            height: 100%;
            display: inline-block;
        }
    }

    > .spacer {
        flex: 1;
    }

    > .aside {
        height: $page-header-button-height;

        > .app-user {
            line-height: $page-header-button-height + 2px;
            margin-right: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: left;
        }
    }

}


.app-nav-navigation {

    > .app-nav-navigation-items {
        display: flex;

        > li {
            margin-right: 5px;
        }

        .logout {
            float: right;
        }

        .help-guidance {
            float: right;
            margin-right: $spacer / 2;
            width: 11em;
        }
    }
}

.page-header {

    @include gradient-blue;
    color: $color-sirius-white;
    position: fixed;
    top: $page-header-bar-height;
    width: 100%;
    z-index: 10;
    min-height: 40px;
    min-width: 1245px;

    h1 {
        @include gradient-blue;
        float: left;
        line-height: 1;
        padding: 9px 0 $spacer $gutter;
        text-transform: uppercase;
        font-weight: $font-weight-sans-semibold;
        height: 1em;
        .light {
            font-weight: $font-weight-sans-light;
            padding-right: $gutter;
        }
    }

}

// Search form
// The search form HTML is not part of the header due to angular $scope restriction
.search-form,
.search-form-restrictions {
    @include pem(12, $base-size);
    position: absolute;
    top: $page-header-bar-height + 6px;
    z-index: $z-page-header-search;
}

.search-form {

    width: $page-header-search-input-width;
    right: 38px;
    display: flex;

    span {
        display: inline-block;
        margin-left: 5px;
    }

    .govuk-input {
        height: $page-header-bar-height - 4px;
        border-radius: 0;
        font-size: 1rem;
        font-family: "GDS Transport", arial, sans-serif;;
        border: 2px solid #0b0c0c;
        z-index: 1;
        width: 356px
    }

    .govuk-input:focus {
        box-shadow: none;
    }

    .magnifying-glass {
        background-image: url("/lpa/build/img/icon-search.svg");
        min-width: 12px;
        min-height: 12px;
        margin-left: 5px;
        margin-right: 5px;
        background-repeat: no-repeat;
    }

    .search-loading {
        position: absolute;
        top: 4px;
        border-bottom: 2px solid lightgrey;
        border-left: 2px solid lightgrey;
        border-right: 2px solid darkgrey;
        border-top: 2px solid grey;
        border-radius: 100%;
        height: 10px;
        width: 10px;
        -webkit-animation: spin .6s infinite linear;
        -moz-animation: spin .6s infinite linear;
        -ms-animation: spin .6s infinite linear;
        animation: spin .6s infinite linear;
    }

    .search-form-container {
        display: flex;
        align-items: center;
        height: 100%;

        li {
            list-style-type: inherit;
        }
    }

    .search-form-button {
        padding: 4px;
        min-width: 0;
        aspect-ratio: 1;
        border: 2px solid $color-sirius-blue;
        border-left-width: 0;
        border-radius: 0;
        background: #1D70B8;
        color: #FFF;
    }

    .search-form-button:hover {
        background: #1D70B8;
    }

    @keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
            -moz-transform: rotate(359deg);
            -o-transform: rotate(359deg);
            -ms-transform: rotate(359deg);
            transform: rotate(359deg);
        }

    }

    @-moz-keyframes spin {
        from {
            -moz-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -moz-transform: rotate(359deg);
            transform: rotate(359deg);
        }

    }

    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }

    }

    @-ms-keyframes spin {
        from {
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -ms-transform: rotate(359deg);
            transform: rotate(359deg);
        }

    }
}

.original-search-form,
.search-form-restrictions {
    @include pem(12, $base-size);
    position: absolute;
    top: $page-header-bar-height + 6px;
    z-index: $z-page-header-search;
}

.original-search-form {

    width: $page-header-search-input-width;
    background: $color-element-bg;
    border: 2px solid $color-sirius-blue;
    border-radius: $form-el-border-radius;
    height: $page-header-button-height;
    right: $page-header-search-input-right;

    span {
        display: inline-block;
        margin-left: 5px;
    }

    input {
        background: $color-element-bg;
        color: $color-font;
        border: 0;
        outline: none;
        width: 356px;
        padding: $page-header-search-input-padding;
        line-height: 1.5em;
        margin-left: 25px;
    }

    .magnifying-glass {
        position: absolute;
        top: 5px;
        background-image: url("/lpa/build/img/icon-search.svg");
        min-width: 12px;
        min-height: 12px;
        background-repeat: no-repeat;
    }

    .search-loading {
        position: absolute;
        top: 4px;
        border-bottom: 2px solid lightgrey;
        border-left: 2px solid lightgrey;
        border-right: 2px solid darkgrey;
        border-top: 2px solid grey;
        border-radius: 100%;
        height: 10px;
        width: 10px;
        -webkit-animation: spin .6s infinite linear;
        -moz-animation: spin .6s infinite linear;
        -ms-animation: spin .6s infinite linear;
        animation: spin .6s infinite linear;
    }

    @keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
            -moz-transform: rotate(359deg);
            -o-transform: rotate(359deg);
            -ms-transform: rotate(359deg);
            transform: rotate(359deg);
        }

    }

    @-moz-keyframes spin {
        from {
            -moz-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -moz-transform: rotate(359deg);
            transform: rotate(359deg);
        }

    }

    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }

    }

    @-ms-keyframes spin {
        from {
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        to {
            -ms-transform: rotate(359deg);
            transform: rotate(359deg);
        }

    }
}

.search-form-restrictions {

    color: $color-sirius-white;
    vertical-align: middle;
    right: $page-header-search-label-right;
    padding: $page-header-search-input-padding;

    .disabled {
        @include form-el-disabled;
    }

    b {
        font-weight: normal;
    }

    .form-field {
        margin-left: $spacer;
        input {
            margin-right: $spacer;
        }
    }
}

@media (min-width: 1245px) {
    .search-form, .search-form-restrictions, .original-search-form, .old-search-form {
        position: fixed;
    }
}
