.timeline-container {

    .tasks-list,
    .case-summary {
        position: relative;
        background: $color-action-widget-bg;
        border: 1px solid $color-sirius-blue;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: $form-el-border-radius;
        color: $color-font;
        width: 49%;
        font-size: 0.875em;

        .loading {
            margin: 0;
            background-size: 50px;
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
            bottom: -1px;
            border-radius: 3px;
        }

        h2 {
            background: $color-sirius-blue;
            color: $color-sirius-white;
            padding: $timeline-entry-padding $timeline-entry-padding*2;
        }

        h3 {
            border-top: 1px solid $color-sirius-blue;
            font-weight: $font-weight-sans-bold;
            margin-bottom: $spacer;
            &:first-child {
                border: 0;
            }
        }

        > h3,
        > ul,
        > div {
            margin: 0 $timeline-entry-padding*2 $timeline-entry-padding;
        }

        p {
            margin-bottom: 0;
        }

        .content,
        .loading {
            min-height: 3.85em;
        }

        .loading {
            background-color: rgba($color-action-widget-bg, 0.8); // LESS: fadeout($color-action-widget-bg, 20%)
            z-index: $z-timeline-section-box-loading;
        }

        .task-error {
            margin-bottom: .5em !important;
        }

        &.min-view {
            float: none;
            width: 100%;
        }

    }

    .tasks-list {
        float: right;
    }

    .case-summary {
        float: left;
        button {
            padding: 3px;
        }

        li {
            position: relative;
        }

        &.min-view {
            margin-bottom: $gutter;
        }

    }

    .task-error {
        @include error-message-overview;
        @include pem(14, 16);
    }

    .task-list {
        border-color: $color-sirius-blue;
        margin-bottom: $spacer/2;
        padding-bottom: $spacer/2;
    }

    .task-list-task {
        line-height: 1.5em;
        margin-left: 15px;
        padding-bottom: 0.5em;
        padding-right: 60px;
        list-style-type: none;
        position: relative;

        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        // Uniquely styled bullet
        &:before {
            content: '·';
            font-size: 30px;
            left: -13px;
            position: absolute;
            top: 0px;
        }

        &.error {
            @include error-message-inline-message;
            background-image: url("/lpa/build/img/error-warning-icon.png");
            background-position: 4px 8px;
            background-size: 18px !important;
            background-repeat: no-repeat;
            padding: 4px 0 4px 28px;

            h4 {
                @include pem(14, 16);
            }

            p {
                @include pem(14, 16);
                background: none !important;
                &.error {
                    width: auto;
                    @include pem(14, 16);
                    margin: 0;
                    padding-left: 0;
                    line-height: 1.5em;
                }
            }

        }

        &-description {
            border-left: 2px solid #AAA;
            padding: 4px 8px;
        }
    }

    .complaints,
    .investigations {
        .complaint-text,
        .resolution-text,
        .investigation-text {
            // @include pem(14, 16);
            margin-bottom: 0.2em;
        }
        .resolution-text {
            margin-left: $gutter * 2;
            width: auto;
        }
        .linked {
            cursor: pointer;
            text-decoration: underline;
        }

        &.static {
            .cta {
                display: none;
            }
        }

        &.dynamic {
            .complaint-text,
            .resolution-text,
            .investigation-text {
                max-height: 40px;
                width: 100%;
                overflow: hidden;

                &.show-more {
                    max-height: none;
                }
            }
        }
    }

    // Action buttons for each task
    .task-actions,
    .complaint-actions {
        line-height: 1.2;
        position: absolute;
        right: 5px;
        top: 0.2em;

        .icon-button {
            margin-left: 4px;
        }
    }
}
