.timeline-container {
    .warning-case-list {
        display: inline-block;
        margin-right: 10px;
    }

    .warnings {
        padding: 0 0 0.5em 0;
        position: relative;

        h3 {
            margin-bottom: 0;
            border: none;
        }

        p {
            // @include pem(14);
        }

        .timeline-warning-dialog {
            background-color: #fff;
            border: 3px solid #ccc;
            border-radius: 5px;
            height: auto;
            left: 0;
            padding: 15px;
            position: absolute;
            top: 0;
            width: 360px;
            z-index: 1;
            p {
                font-size: 18px;
                line-height: 24px;
                button {
                    margin-top: 20px;
                    font-size: 16px;
                }
                span {
                    animation: dots 1.25s infinite;
                    display: inline-block;
                    overflow: hidden;
                    height: 1em;
                }
            }
        }
        @keyframes dots {
            from { width: 0; }
            to { width: 19px; }
        }

        .warning-item {

            .warning-item-container {
                display: flex;
                flex-direction: row;
                padding-bottom: 15px;
            }

            .warning-right-items {
                margin-left: auto;
                order: 2;
                width: min-content;
            }

            padding-right: $gutter;

            .warning-unclickable {

                i {
                    cursor: text;
                }
            }

            u {
                text-decoration: none;
            }

            i {
                font-style: normal;
                &:nth-child(2) {
                    display: none;
                }
            }

            &.special-interest,
            &.violent-warning,
            &.donor-deceased {
                b {
                    height: 1.3em;
                    width: 150px;
                    overflow: hidden;
                    position: relative;
                    display: inline-block;
                    font-weight: 700;

                    u {
                        display: block;
                        width: 200%;
                        height: 30px;
                        position: absolute;
                        overflow: hidden;
                        animation: marquee 4s linear infinite;
                    }
                    i {
                        float: left;
                        width: 50%;
                        &:nth-child(2) {
                            display: block;
                        }
                    }
                }
            }

            @keyframes marquee {
                0% { left: 0; }
                100% { left: -100%; }
            }
        }

        .container {
            position: absolute;
            right: 5px;
            top: 0.2em;
            width: 24px;
            height: 24px;
        }

        .timestamp {
            font-size: .75em;
            font-weight: $font-weight-sans-semibold;
            padding-left: 25px;
            padding-top: 6px;
            float: right;
            white-space: nowrap;
        }

        .remove-warning {
            font-size: .75em;
            font-weight: $font-weight-sans-normal;
            color: $color-govuk-mellow-red;
            padding-left: 25px;
            float: right;
        }

        .warning {
          position: absolute;
          top: -11px;
          left: -21px;
          font-size: 45px !important;
          color: rgb(211, 18, 18);
        }

        .opg-icon {
            font-size: 18px;
        }

        .opg-icon {
            @include opg-icon;
        }

        &.static {
            .cta {
                display: none;
            }
        }

        &.dynamic {
            .warning-text {
                max-height: 40px;
                width: 100%;
                overflow: hidden;

                &.show-more {
                    max-height: none;
                }
            }
        }
    }
}
