// Mixins and variables
// $timeline-entry-padding moved to core/variables.scss
$timeline-link-color: $color-sirius-light-blue;
$timeline-border-radius: 3px;

.timeline-event {
    @include pem(14, 16);
    @include element-border;
    border-radius: $form-el-border-radius;
    z-index: $z-timeline-entry;
    word-wrap: break-word;
    position: relative;
    background: $color-element-bg;
    margin-bottom: 3em;
    transition: 750ms ease-out;
    min-height: 3.5em;
    width: 47.4%;

    header {
        height: 100%;
        overflow: hidden;

        strong {
            border-radius: $timeline-border-radius;
            color: $color-font;
            font-weight: $font-weight-sans-normal;
            padding: 0 $timeline-entry-padding;
            text-transform: uppercase;
            margin: $timeline-entry-padding;
            display: inline-block;
        }
        time {
            float: right;
            padding: 0 $timeline-entry-padding;
            margin: $timeline-entry-padding;
            background-color: $color-sirius-dark-grey;
            border-radius: $timeline-border-radius;
            color: $color-text-on-dark;
        }
        h2 {
            @include gradient-grey;
            color: darken($color-sirius-dark-grey, 20%);
            text-shadow: 0 0 2px $color-sirius-light-grey;
            padding: $timeline-entry-padding $spacer;
            margin: 0;
            clear: both;
        }
    }

    section {
        h3 {
            font-size: 1em;
            margin: 0 $spacer $timeline-entry-padding;
            padding-top: $timeline-entry-padding;
        }
        h3 + p {
            padding-top: 0;
        }
        p {
            padding-top: $timeline-entry-padding;
            margin: 0 $spacer $timeline-entry-padding;
        }
        .subtype {
            border: 1px solid;
            border-radius: $form-el-border-radius;
            position: relative;
            bottom: 2px;
            left: 3px;
            padding: 1px $spacer/2;
            font-size: .6em;
            text-transform: uppercase;
        }
    }

    footer {
        border-top: 1px solid $color-sirius-light-grey;
        padding: $timeline-entry-padding $spacer;

        div.timeline-event-footer-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            div.timeline-event-creator {
                margin-right: 2em;
            }

            .timeline-delete-event-action {
                color: $color-req-field-text !important;
            }
        }
    }

    &.case-lpa-pfa {
        header {
            strong {
                background: $color-case-pfa;
            }
        }
    }

    &.case-lpa-hw {
        header {
            strong {
                background: $color-case-hw;
            }
        }
    }

    &.case-epa-pfa {
        header {
            strong {
                background: $color-case-epa;
            }
        }
    }

    &.case-order-pfa {
        header {
            strong {
                background: $color-case-dep;
            }
        }
    }

    &.case-order-hw {
        header {
            strong {
                background: $color-case-dep;
            }
        }
    }

    &.event-warning {
        header {
            .warning {
                font-size: 35px;
            }
        }
    }

    &:before {
        content: " ";
        height: 3px;
        position: absolute;
        top: 10px;
        width: 4%;
        z-index: 2;
        background: $color-sirius-dark-grey;
    }

    &.min-view:before {
        background: none;
    }

    &:after {
        content: " ";
        display: block;
        height: 11px;
        position: absolute;
        top: 7px;
        width: 11px;
        z-index: 3;
        background: url(img/circle.svg) no-repeat;
    }
    &:nth-child(even) {
        float: left;
        clear: both;
        &:before {
            right: -4.5%;
        }
        &:after {
            right: -6.1%;
        }
        &.min-view {
            width: 98%;
            margin-bottom: $spacer * 2;
        }
    }
    &:nth-child(odd) {
        float: right;
        clear: right;
        margin-top: 2em;
        margin-bottom: 1em;
        &:before {
            left: -5.5%;
            width: 5%;
        }
        &:after {
            left: -6%;
        }
        &.min-view {
            float: left;
            width: 98%;
            margin-bottom: $spacer * 2;
        }
    }

    a {
        color: $timeline-link-color;
    }

    .crec-green {
        left: 147px;
        width: 46px;
        height: 20px;
        position: absolute;
        background: url(/lpa/build/img/icon-flag-green.svg) no-repeat 5px 50%;
        display: inline-block;
        vertical-align: top;
    }

    .crec-amber {
      left: 147px;
      width: 46px;
      height: 20px;
      position: absolute;
      background: url(/lpa/build/img/icon-flag-amber.svg) no-repeat 5px 50%;
      display: inline-block;
      vertical-align: top;
    }

    .crec-red {
      left: 147px;
      width: 46px;
      height: 20px;
      position: absolute;
      background: url(/lpa/build/img/icon-flag-red.svg) no-repeat 5px 50%;
      display: inline-block;
      vertical-align: top;
    }

    .crec-black {
      left: 147px;
      width: 46px;
      height: 20px;
      position: absolute;
      background: url(/lpa/build/img/icon-flag-black.svg) no-repeat 5px 50%;
      display: inline-block;
      vertical-align: top;
    }

    &.timeline-event-new {
        border-color: $color-new-event-border;
        box-shadow: 0px 0px 17px 4px $color-new-event-glow;
        background-color: $color-new-event-bg;
    }
}
