$wth-color-primary: #b53113;
$wth-color-secondary: #553024;

a.opg-form-button--wth, .wth-button {
    border-color: $wth-color-secondary;
    background: linear-gradient(to bottom, $wth-color-primary, $wth-color-secondary) $wth-color-primary;
    color: white !important;

    &:hover {
        background: $wth-color-secondary;
    }
}

.wth-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 550;
    cursor: pointer;

    &--open {
        display: block;
    }
}

.wth-modal {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    padding: 1rem;
    border: 2px solid $color-sirius-black;
    background-color: white;
    color: $color-sirius-black;
    cursor: initial;
}

.wth-header {
    margin-bottom: 1rem;
    border-bottom: .25rem solid $wth-color-secondary;
}

.wth-textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

.wth-modal .error {
    float: none;
}
