.panel-calendar {
  padding: 15px;
  height: 50%;
  overflow: hidden;

  opg-calendar {
    width: 24%;
    margin-right: 1%;
    float: left;

    * {
      user-select: none;
    }

    .calendar {
      padding: 0;
      border: 1px solid #dddddd;
      user-select: none;
    }

    .move-month {
      cursor: pointer;
    }

    [class*="prev-month-"] {
      float: left;
    }

    [class*="next-month-"] {
      float: right;
    }

    .current-month {
      text-align: center;
      padding: 20px 0;
      margin: 0 8px;
    }

    .weekday,
    .day {
      display: inline-block;
      width: calc(100% / 7);
    }

    .weekday {
      text-align: center;
    }

    .day {
      height: 2em;
      outline: 1px solid #dddddd;
      vertical-align: top;

      .day-number {
        margin-left: 6px;
      }

      .event-title {
        display: none;
      }

      &.default {
        cursor: default;
        color: #00326e;
        background-color: #ffffff;
      }

      &.disabled {
        cursor: default;
        color: darken(#ffffff, 20%);
        background-color: darken(#00326e, 10%);
      }
    }
  }

  .date-difference {
    float: right;
    width: 24%;

    .selector {
      label:first-child {
        height: 4em;
      }
      label:not(:first-child) {
        width: 30%;
      }
      label:last-child {
        width: 60%;
      }
    }

    div {
      clear: both;
      margin-bottom: 0.5em;
    }

    label {
      float: left;
      width: 40%;
      line-height: 2em;
    }

    input[type="text"],
    input[type="number"] {
      width: 40% !important;
    }

    input[disabled] {
      background-color: transparent;
      color: #ffffff;
      font-weight: 700;
      opacity: 1;
      border: none;
    }

    button {
      color: #ffffff;

      &[disabled] {
        display: none;
      }
    }
  }
}
