$sirius-bg-color: #29292e;

.app-\!-html-class--dark {
  background-color: $sirius-bg-color;
  color: govuk-colour("white");
  color-scheme: dark;

  .govuk-footer,
  body.govuk-template__body,
  .govuk-template {
    background-color: $sirius-bg-color;
    color: govuk-colour("white");
  }

  .govuk-body {
    color: govuk-colour("white");
  }

  .govuk-caption-xl,
  .govuk-caption-l,
  .govuk-caption-m,
  .govuk-caption-s,
  .govuk-caption-xs {
    color: govuk-colour("light-grey");
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .govuk-heading-xl,
  .govuk-heading-l,
  .govuk-heading-m,
  .govuk-heading-s,
  .govuk-heading-xs,
  p,
  legend,
  .govuk-list {
    color: govuk-colour("white");
  }

  .govuk-accordion__show-all,
  .govuk-details__summary-text,
  .govuk-link:link {
    color: lighten(govuk-colour("light-blue"), 20%);
  }

  .govuk-link:visited {
    color: govuk-colour("light-pink");
  }

  .govuk-link--no-visited-state:visited {
    color: lighten(govuk-colour("light-blue"), 20%);
  }

  .govuk-link:hover {
    color: lighten(govuk-colour("light-blue"), 30%);
  }

  .govuk-link:active {
    color: $govuk-link-active-colour;
  }

  .govuk-label,
  .govuk-fieldset__legend,
  .govuk-file-upload,
  .govuk-summary-list__key,
  .govuk-summary-list__value,
  .govuk-back-link,
  .govuk-tabs__tab:link,
  .govuk-tabs__tab:visited,
  .govuk-tabs__tab,
  .moj-banner__message,
  .moj-sub-navigation__link {
    color: govuk-colour("white");
  }

  .govuk-hint {
    color: govuk-colour("mid-grey");
  }

  .govuk-input,
  .govuk-textarea,
  .govuk-select,
  .govuk-table,
  .govuk-tabs__list-item,
  .moj-filter,
  .moj-filter__selected,
  .autocomplete__input {
    background-color: $sirius-bg-color;
    color: govuk-colour("white");
  }

  .moj-pagination__link::before,
  .moj-pagination__link::after {
    filter: invert(100%);
  }

  .moj-pagination__link {
    color: govuk-colour("light-blue");
  }

  .govuk-notification-banner__content {
    background-color: $sirius-bg-color;
    color: govuk-colour("white");
  }

  .autocomplete__menu {
    background-color: $sirius-bg-color;
    color: govuk-colour("white");
  }

  .govuk-input__prefix,
  .autocomplete__option--odd {
    background-color: govuk-colour("black");
  }

  .autocomplete__option--focused,
  .autocomplete__option:hover {
    background-color: govuk-colour("blue");
  }

  .govuk-back-link:before {
    border-color: govuk-colour("white");
  }

  .app-stat-block {
    background-color: govuk-colour("dark-grey");
  }

  .app-caseworker-summary,
  .app-caseworker-summary table {
    background-color: #505a5f;
  }

  .govuk-header {
  border-bottom: 10px solid govuk-colour("black");
  }

  // Search dropdown
  .sirius-search {
    background-color: govuk-colour("black") !important;
    box-shadow: 0 5px 5px govuk-colour("black") !important;
  }

  .sirius-search__item {
    background-color: $sirius-bg-color !important;
    color: govuk-colour("white") !important;
  }
}
