$govuk-page-width: 1220px;
$moj-page-width: 1220px;
$moj-assets-path: "/lpa/frontend/assets/";
$govuk-assets-path: "/lpa/frontend/assets/";

@import "node_modules/govuk-frontend/govuk/all";
@import "node_modules/@ministryofjustice/frontend/moj/all";
@import "node_modules/accessible-autocomplete/src/autocomplete";
@import "./dark.scss";
@import "./wysiwyg.scss";

.app-\!-embedded .app-\!-embedded-hide {
  display: none;
}

// When embedded, always use mobile-size wrapper spacing
@include govuk-media-query($from: tablet) {
  .app-\!-embedded .govuk-width-container {
    margin-left: $govuk-gutter-half;
    margin-right: $govuk-gutter-half;
  }

  .app-\!-embedded .govuk-main-wrapper {
    padding-top: govuk-spacing(4);
    padding-bottom: govuk-spacing(4);
  }
}

.app-\!-html-class--embedded {
  font-size: 0.875em;
}

.app-\!-full-width {
  width: 100%;
}

.app-\!-table-row__no-border {
  border-bottom: none;
}

.app-\!-moj-search__button {
  background-color: $govuk-brand-colour;
  margin: 0;
  border: none;
}

.app-\!-moj-search__button:hover {
  background-color: $govuk-link-hover-colour;
}

.app-\!-colour-text-red {
  color: govuk-colour("red") !important;
}

.app-\!-pre-wrap {
  white-space: pre-wrap;
}

.app-\!-border-bottom-black {
  border-bottom-color: govuk-colour("black") !important ;
}

.app-\!-width-fit-content {
  width: fit-content;
}

.app-\!-float-left {
  float: left;
}

.app-\!-float-right {
  float: right;
}

.app-\!-td-last-child-no-border {
  tr:last-child td {
    border-bottom: none;
  }
}

.app-\!-flex {
  display: flex;
}

.app-table--compact {
  margin-bottom: 0;
}

.app-table--compact .govuk-table__cell {
  padding-top: 0;
  padding-bottom: 0;
}

.app-tabs__panel--compact,
.js-enabled .app-tabs__panel--compact {
  padding: 0 10px;
}

.autocomplete__input {
  z-index: 1;
}

.autocomplete__dropdown-arrow-down {
  z-index: 0;
}

.autocomplete__wrapper {
  font-family: $govuk-font-family;
}

.app-panel__body--smaller {
  @include govuk-font($size: 24);
}

.app-tag--draft {
  border: 1px solid govuk-colour("black");
  color: govuk-colour("black");
  background: govuk-colour("white");
}

.app-stat-block__container {
  display: flex;
  grid-gap: 1.375rem;
  margin-bottom: govuk-spacing(6);
}

.app-stat-block {
  @include govuk-font($size: 19);
  display: block;
  flex: 1;
  padding: 1.375rem;
  background-color: govuk-colour("light-grey");
}
