.form-field-associated-data {
    width: 100%;
    legend {
        @include accessible-text;
    }
    label {
        display: block;
        float: left;
        margin-top: $spacer;
    }
    .description {
        float: left;
        margin-right: $spacer;
        li {
            float: left;
            margin-right: 0.25em;
        }
    }
    .active {
        background: $color-element-bg;
    }
    input[type=radio],
    input[type=checkbox] {
        width: auto;
        margin-right: $spacer/2;
        vertical-align: middle;
        float: right;
    }
}