/*
 * OPG Core
 * Button Styles
 *
 * Author:      Transform
 * Author URI:  http://www.transformuk.com/
 *
 * Description:
 * Styling for form buttons and links styled as buttons
 *
 */

// -------------------------------------------------
// Buttons mixins
// -------------------------------------------------

@mixin button-styling-disabled {
    @include form-el-disabled;
}

.button-styling-disabled {
    @include button-styling-disabled;
}

// Standard button
@mixin button-styling {
    @include gradient-grey;
    text-transform: capitalize;
    font-family: "Open Sans";
    border: 1px solid $color-button-border;
    border-radius: 5px;
    color: $color-font;
    cursor: pointer;
    padding: 0.2em 0;
    min-width: 100px;
    &:hover {
        @include gradient-grey-inv;
    }
    &:active {
        @include gradient-grey-inv-dark;
    }
    &:disabled {
        @include button-styling-disabled;
        @include gradient-grey;
        &:hover,
        &:active {
            @include gradient-grey;
            @include button-styling-disabled;
        }
    }
    &[type=submit] {
        border-color: $color-font;
    }
}

.button-styling {
    @include button-styling;
}

// ------------------------------------------------
// Unique button styles
// ------------------------------------------------

// Small round button used as an inline delete button
.delete-button,
.delete-button:hover {
    background-image: url("/lpa/build/img/icon-delete.png");
    min-width: 14px;
    min-height: 14px;
    background-repeat: no-repeat;
    float: right;
    border: none;
    font-size: 1em;
    outline: 0;
}

// ActionWidget round button
@mixin round-button {
    @include gradient-blue;
    border-radius: 70px;
    height: 62px;
    padding: 8px;
    width: 62px;
    dl {
        background: $color-element-bg;
        border-radius: 62px;
        color: $color-font;
        display: inline-block;
        height: 56px;
        padding: 3px;
        text-align: center;
        width: 56px;
    }
    dd {
        color: $color-font;
    }
}

.round-button {
    @include round-button;
}

// Smaller round buttons used in tasklist
@mixin round-button-small {
    @include gradient-blue;
    border-radius: 32px;
    height: 28px;
    padding: 4px;
    width: 28px;
    span {
        background: $color-element-bg;
        border-radius: 28px;
        color: $color-sirius-black;
        display: block;
        height: 24px;
        line-height: 1.2;
        padding: 2px;
        text-align: center;
        width: 24px;
    }
}

.round-button-small {
    @include round-button-small;
}

// Mid size round button
@mixin round-button-medium {
    @include round-button-small;
    border-radius: 36px;
    height: 36px;
    padding: 5px;
    width: 36px;
    span {
        @include pem(22);
        border-radius: 28px;
        height: 32px;
        line-height: 1.4;
        padding: 2px;
        width: 32px;
        color: $color-font;
    }
}

.round-button-medium {
    @include round-button-medium;
}

@mixin round-button-grad {
    @include gradient-blue;
    border-radius: 50%;
    display: inline-block;
    height: 62px;
    padding: 8px;
    width: 62px;
    .opg-icon {
        @include gradient-grey;
        border: 2px solid $color-button-inner-border;
        border-radius: 50%;
        color: $color-button-icon;
        display: inline-block;
        height: 56px;
        padding: 1px;
        text-align: center;
        width: 56px;
        &:hover,
        &:active {
            @include gradient-blue;
            color: $color-sirius-white;
        }
        .disabled & {
            @include gradient-grey;
            color: $color-button-icon;
        }
        // Prevent ligatures from being selected
        &::selection {
            background: none; /* Safari */
        }
        &::-moz-selection {
            background: none; /* Firefox */
        }
    }

    .opg-icon {
        @include opg-icon;
    }
}

.round-button-grad {
    @include round-button-grad;
}

@mixin round-button-grad-tiny {
    @include gradient-blue;
    border-radius: 23px;
    display: inline-block;
    height: 21px;
    padding: 2px;
    width: 21px;
    .opg-icon {
        @include gradient-grey;
        border: 1px solid $color-button-inner-border;
        border-radius: 21px;
        color: $color-button-icon;
        display: inline-block;
        height: 15px;
        padding: 0 1px 4px;
        text-align: center;
        width: 17px;
        &:active,
        &.active {
            background: none;
            background-color: $color-button-icon;
            color: $color-app-bg;
            .disabled & {
                @include gradient-grey;
            }
        }
    }
}

.round-button-grad-tiny {
    @include round-button-grad-tiny;
}

.close-btn {
    background: url("/lpa/build/img/icon-close.svg") no-repeat center center;
    display:    inline-block;
    min-height: 16px;
    min-width:  16px;
    padding:    4px;
    vertical-align: middle;
}

.conscious-cta {
    float: left;
}

// -------------------------------------------------
// Application of mixins to elements
// -------------------------------------------------

// Standard buttons
.app-login-form-submit input,
.opg-button,
.opg-form-button {
    @include button-styling;
}

a.opg-button,
a.opg-form-button {
    color: $color-font!important;
    display: inline-block;
    text-align: center;
}

.disabled,
.app-login-form-submit input[disabled="disabled"],
.opg-button.disabled,
.opg-form-button[disabled="disabled"] {
    @include button-styling-disabled;
    a {
        cursor: default;
    }
}

.icon-button {
    @include round-button-grad-tiny;
}
