// Stylised checkboxes
.checkboxselect {

    margin: $gutter 0;

    legend {
        display: block;
        position: static;
    }

    > b,
    > legend {
        width: 100% !important;
        margin-bottom: 1em;
    }

    .fields {
        background: $color-element-bg;
        border-radius: 4px;
        min-height: 100px;
        max-height: 300px;
        overflow: auto;
        clear: both;
    }

    label {
        @include element-border;
        clear: left;
        float: left;
        width: 100%;
        border-width: 0;
        border-bottom-width: 1px;
        padding: .75% 1.5% 1.25% 1.5%;
        width: 97% !important;
        line-height: 1.5em;
        cursor: pointer;
        min-height: 1em;
        display: table-cell;
        vertical-align: middle;

        &.true {
            background: $color-sirius-blue;
            color: #fff;
            .indicator {
                color: #fff;
            }
        }

        b {
            width: 91% !important;
            padding-right: 0 !important;
            float: none !important;
            margin-right: 0 !important;
            display: inline-block;
            vertical-align: middle;
        }

        input {
            display: none;
        }

        .indicator {
            font-size: 1.4em;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
