// Error messaging

// ----------------------------------------------
// Mixins and variables
// ----------------------------------------------

@mixin error-message-text {
    @include pem(12, 16);
    background-repeat: no-repeat;
    background-position: 5px center;
    font-weight: bold;
}

.error-message-text {
    @include error-message-text;
}

@mixin error-message-header-layout {
    color: $error-text-overview-color;
    border: 1px solid $error-text-overview-color;
    background-image: url($error-text-overview-icon);
    background-color: $error-text-overview-background;
    padding: 5px 5px 5px 50px;
    border-radius: $form-el-border-radius - 1px;
    height: 52px;
}

.error-message-header-layout {
    @include error-message-header-layout;
}

@mixin error-message-header-text {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.error-message-header-text {
    @include error-message-header-text;
}

// ----------------------------------------------
// Application
// ----------------------------------------------

// Overview appears at form header
@mixin error-message-overview {

    @include error-message-text;
    @include error-message-header-layout;

    // Centred error text
    span {
        @include error-message-header-text;
    }

}

.error-message-overview {
    @include error-message-overview;
}

// Field level error messaging
@mixin error-message-inline-message {

    background: $error-text-inline-background;
    margin-left: 0 !important;
    padding: 4px 0 4px 1%;
    border: 1px solid $error-text-inline-color;

    span.error,
    p.error {
        @include error-message-text;
        font-size: 1em;
        color: $error-text-inline-color;
        background-color: $error-text-inline-background;
        background-image: url($error-text-inline-icon);
        background-size: 18px;
        background-position: 0 center;
        clear: both;
        float: left;
        line-height: 2em;
        margin-top: $spacer/2;
        margin-bottom: $spacer/2;
        padding: 0 0 0 23px;
    }
}

.error-message-inline-message {
    @include error-message-inline-message;
}

// Page level error messaging
.pageLevelError {

    top: $page-header-complete-height;
    background: $color-app-bg;
    z-index: $z-page-level-error;

    .warning {
        @include error-message-overview;
        background-image: url("/lpa/build/img/error-page-icon.png");
        background-size: 53px;
        background-position: 15px 17px;
        height: auto;
        padding: 15px 15px 15px 55px;
    }

    .overview {
        @include pem(21, 12);
        font-weight: $font-weight-for-bold;
    }

    .action {
        color: $color-font;
        font-weight: $font-weight-sans-bold;
    }

    .support {
        @include pem(19, 12);
        background: $color-app-bg;
        color: $color-font;
        border-color: $error-text-inline-color;
        border-radius: $form-el-border-radius;
        font-weight: $font-weight-sans-light;
        text-align: left;
        a {
            color: $error-text-inline-color;
            &:hover {
                text-decoration: underline;
            }
        }
    }

}