
.field-collection {
    .title {
        clear: both;
        text-align: center;
        @include pem(12, 16);
        margin-top: 0.5em;
        overflow: auto;
        margin-left: -6px;
        margin-right: 6px;
        b {
            float: left;
            padding-right: 0.25em;
            text-transform: capitalize;
            width: 10em;
            text-align: left;
        }
        .openClose {
            padding: 4px 12px 4px 5px;
            float: left;
        }
        .opg-icon {
            padding: 1px 12px;
            width: 1em;
            float: right;
            font-size: 1.5em;
            font-weight: normal;
        }

        .opg-icon {
            @include opg-icon;
        }
        &.open {
            @include gradient-blue;
            a, b {
                color: #fff;
            }
        }
    }
    .actor {
        clear: both;
        background: #fff;
        border-top: 3px solid $color-sirius-blue;
        margin-left: -10px;
        margin-right: -10px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-top: 10px;
    }
    fieldset {
        clear: both;
    }
}
