.action-widget-content .newevent {

    .breached {
        display: inline-block;
        color: $color-error;
    }

    .info-message {
        display: inline-block;
        color: $color-sirius-black;
    }
}
