input[type="radio"],
input[type="checkbox"] {
    width: auto;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
    box-shadow: none;
}

.form-field-checkbox,
.form-field-radio {
    margin-left: 0;
}
