// ----------------------------------------------------------------
// Styling for the inline WYSIWYG editor on create document
// ----------------------------------------------------------------

.tox-tbtn {
    min-width: 10px;
    margin-left: 0;
    background: none;
}
